@charset "utf-8";
/* CSS Document */
    html,body {
			font-family: Arial, Helvetica, "STHeitiTC-Light", "Microsoft JhengHei", "微軟正黑體", "Noto Sans TC", sans-serif;
			font-size: 18px;
			background-color: #FFF;
			color: #3e3a39;
			overflow-x: hidden;
			word-wrap: break-word;
		}

		input[type="text"] {
			font-size: 18px;
			padding-left: .5em;
		}




		/*** 手機 ***/
		@media screen and (max-width: 480px) {

			h2 {
				color: #23345c;
				font-size: 23px;
				font-weight: bold;
				line-height: 25px;
				margin-bottom: 15px;
			}

			h3 {
				color: #d36464;
				font-size: 1.2rem;
				font-weight: bold;
				line-height: 25px;
				margin-bottom: 15px;
			}
			
			.container {
				width: 100%;
				margin: 0 auto;
			}

			.input-style {
				margin-bottom: 15px;
			}

			.note_br {
				display: block;
			}

			.all {
				/* background-color: #f1ba48; */
				overflow: hidden;
				/* padding-bottom: 15px;
				padding-top: 15px; */
				padding-left: 0px;
				padding-right: 0px;
				border-bottom: 1px solid #a8a2a0;
			}

			.row-same-height {
				display: table;
				width: 100%;
				/* margin-left: -15px;
				margin-right: -15px; */
			}


			.left {
				/* background-color: #e3dbd9; */
				vertical-align: middle;
				width: 100%;
				float: left;
				padding-left: 0px;
				padding-right: 0px;
			}

			.left .text {
				font-size: 20px;
				font-weight: bold;
				margin-bottom: 15px;
			}

			.right {
				/* background-color: #ccc; */
				display: table-cell;
				width: 100%;
				/* padding-top: 15px; */
				padding-left: 0px;
				padding-right: 0px;
				float: left;
			}

			.form-group {
				/* padding-top: 15px; */
				padding-bottom: 15px;
				margin-bottom: 0px;
				/* border-bottom: 1px solid #a8a2a0; */

			}

			.form__label {
				float: left;
				width: auto;
				padding-left: 15px;
				padding-top: 7px;
			}

			.form__label2 {
				/* float: left; */
				width: auto;
				/* padding-left: 15px; */
				padding-top: 7px;
			}
		

			.form__money {
				float: left;
				width: 80%;
				padding-left: 15px;
			}

			.form__identity {
				float: left;
				width: 100%;
				padding-left: 15px;
			}

			.form__people {
				float: left;
				width: 65%;
				padding-left: 15px;
			}

			.form__txt {
				float: left;
				width: auto;
				padding-left: 15px;
				padding-top: 7px;
			}

			.form__txt2 {
				float: left;
				width: auto;
				padding-left: 15px;
				/* padding-top: 7px; */
			}

			.form__note {
				color: #D20B2A;
				width: auto;
				padding-left: 15px;
				padding-top: 5px;
				float: left;
			}

			.finalbutton {
				padding-top: 25px;
				padding-bottom: 10px;
			}

			.taxresult {
				margin-bottom: 25px;
				background-color: #e3dbd9;
			}

			.desc {
				padding-bottom: 25px;
				text-align: left;
			}	

			.noColor {
				color: #e3dbd9;
			}
	
			input[type="text2"] {
				font-size: 48px;
				width: 75%;
				padding-left: .5em;
				border: none;
				text-align: end;
				background-color: #e3dbd9;
			}

			.taxresult__money {
				border-bottom: 1px solid #a8a2a0;
				margin-bottom: 15px;
		    }
	
			.taxresult__txt {
			   font-size: 23px;
			}

		}

		/*** 小手機 ***/
		@media screen and (max-width: 320px) {
			h3 {
				color: #d36464;
				font-size: 1rem;
				font-weight: bold;
				line-height: 25px;
				margin-bottom: 15px;
			}
		}

		/*** 桌機 ***/
		@media screen and (min-width: 481px) {

			h2 {
				color: #23345c;
				font-size: 23px;
				font-weight: bold;
				line-height: 25px;
				margin-bottom: 15px;
			}

			h3 {
				color: #d36464;
				font-size: 23px;
				font-weight: bold;
				line-height: 25px;
				margin-bottom: 15px;
			}

			.container {
				width: 100%;
				margin: 0 auto;
			}

			.input-style {
				margin-bottom: 15px;
			}

			.note_br {
				display: inline-block;
			}

			.all {
				/* background-color: #f1ba48; */
				overflow: hidden;
				margin-bottom: 25px;
				padding-left: 0px;
				padding-right: 0px;
				/* border-bottom: 1px solid #3e3a39; */
			}

			.row-same-height {
				display: table;
				width: 100%;
				/* margin-left: -15px;
				margin-right: -15px; */
			}

			.row-same-height [class^=col-] {
				display: table-cell;
				float: none;
			}

			.left {
				background-color: #e3dbd9;
				vertical-align: middle;
				width: 40%;
				float: left;
			}

			.left .text {
				font-size: 20px;
				font-weight: bold;
				/* padding-left: 15px; */
			}

			.right {
				background-color: #ccc;
				display: table-cell;
				width: 60%;
				padding-top: 15px;
				float: left;
				padding-left: 15px;
			}

			.form-group {
				/* padding-top: 15px; */
				/* margin-bottom: 0px; */
				/* padding-bottom: 15px; */
			}

			.form__label {
				float: left;
				width: auto;
				padding-left: 15px;
				padding-top: 5px;
			}

			.form__label2 {
				width: auto;
				/* padding-left: 15px; */
				/* padding-top: 5px; */
			}		

			.form__money {
				float: left;
				width: 50%;
				padding-left: 15px;
			}

			.form__identity {
				float: left;
				width: 90%;
				padding-left: 15px;
			}

			.form__people {
				float: left;
				width: 20%;
				padding-left: 15px;
			}

			.form__txt {
				float: left;
				width: auto;
				padding-left: 15px;
				padding-top: 7px;
			}

			.form__txt2 {
				float: left;
				width: auto;
				padding-left: 15px;
				padding-top: 7px;
			}

			.form__note {
				color: #D20B2A;
				width: auto;
				padding-left: 15px;
				padding-top: 5px;
				float: left;
			}

			.finalbutton {
				padding-top: 25px;
				padding-bottom: 25px;
			}

			.taxresult {
				padding-bottom: 25px;
			}

			.desc {
				padding-bottom: 25px;
				text-align: center;
			}		

			.noColor {
				color: #fff;
			}

			input[type="text2"] {
				font-size: 48px;
				width: 80%;
				padding-left: .5em;
				border: none;
				text-align: end;
			}

			.taxresult__money {
				width: 55%;
				border-bottom: 1px solid #a8a2a0;
				margin: 0 auto 15px auto;
		    }
	
			.taxresult__txt {
			   font-size: 23px;
			}

		}


/**** 段落間距 高度 ****/

/* 手機 767px以下*/   
@media  screen and (max-width: 480px) {

  .spacing-small{
      width: 100%;
      height: 15px;
      margin-right: auto;
      margin-left: auto;
      float: left;
  }

  .spacing-medium {
      width: 100%;
      height: 65px;
      margin-right: auto;
      margin-left: auto;
      float: left;    
  }

  .spacing-large{
      width: 100%;
      height: 130px;
      margin-right: auto;
      margin-left: auto;
      float: left;
  }


} 

/* 電腦或大型平板的版型設定：769px～*/    
@media screen and (min-width: 481px) {

  .spacing-small{

  }

  .spacing-medium {


  }

  .spacing-large{

  }


}  